<div class="legend" id="footfilter">
	<div class="jump_sort">
		<@presentation.forumsComboTable/>
	</div>
	<div align="left">
		<label><img alt="${I18n.getMessage("ForumIndex.newMessages")}" src="${contextPath}/templates/${templateName}/images/folder_hot.gif">${I18n.getMessage("ForumIndex.newMessages")}</label> 
		<label><img alt="${I18n.getMessage("ForumIndex.noNewMessages")}" src="${contextPath}/templates/${templateName}/images/folder_common.gif">${I18n.getMessage("ForumIndex.noNewMessages")}</label> 
		<label><img alt="${I18n.getMessage("ForumIndex.announce")}" src="${contextPath}/templates/${templateName}/images/icon_folder_announce.gif">${I18n.getMessage("ForumIndex.announce")}</label> 
		<!--
		<label><img alt="${I18n.getMessage("ForumIndex.newMessagesHot")}" src="${contextPath}/templates/${templateName}/images/folder_hot.gif">${I18n.getMessage("ForumIndex.newMessagesHot")}</label> 
		<label><img alt="${I18n.getMessage("ForumIndex.noNewMessagesHot")}" src="${contextPath}/templates/${templateName}/images/folder_common.gif">${I18n.getMessage("ForumIndex.noNewMessagesHot")}</label>
		--> 
		<label><img alt="${I18n.getMessage("ForumIndex.sticky")}" src="${contextPath}/templates/${templateName}/images/icon_folder_sticky.gif">${I18n.getMessage("ForumIndex.sticky")}</label> 
		<!--
		<label><img alt="${I18n.getMessage("ForumIndex.newMessagesBlocked")}" src="${contextPath}/templates/${templateName}/images/folder_hot.gif">${I18n.getMessage("ForumIndex.newMessagesBlocked")}</label> 
		<label><img alt="${I18n.getMessage("ForumIndex.noNewMessagesBlocked")}" src="${contextPath}/templates/${templateName}/images/folder_common.gif">${I18n.getMessage("ForumIndex.noNewMessagesBlocked")}</label>
		--> 
	</div>
</div>
