<#include "header.htm"/>
<#import "../macros/pagination.ftl" as pagination>
<#import "../macros/presentation.ftl" as presentation/>

<#assign breadCrumb>
	<div id="nav">
	<a class="nav" href="${JForumContext.encodeURL("/forums/list")}">${I18n.getMessage("ForumListing.forumIndex")}</a> &raquo;
	<a id="latest3" class="nav" href="${JForumContext.encodeURL("/hottestTopics/list")}">${I18n.getMessage("ForumBase.hottestTopics")}</a>
	</div>
</#assign>

${breadCrumb}
<div class="mainbox formbox"><span class="headactions">
<a class="notabs" href="/forum/help/member.jsp" target="_blank"></a></span> 
<h1>${I18n.getMessage("Login.enterUsername")}</h1>
<table class="mainbox" cellspacing="1" cellpadding="4" width="100%" border="0">
	<thead>
		<tr>
			<td>${I18n.getMessage("Forums.Form.ForumName")}</td>
			<td colspan="2">${I18n.getMessage("ForumIndex.topics")}</td>
			<td>${I18n.getMessage("ForumIndex.answers")}</td>
			<td>${I18n.getMessage("ForumIndex.author")}</td>
			<td>${I18n.getMessage("ForumIndex.views")}</td>
			<td align="right">${I18n.getMessage("ForumIndex.lastMessage")}</td>
		</tr>
	</thead>

	<!-- TOPICS LISTING -->
	<#list topics as topic>
	<tr>
		<td><a class="postdetails" href="${JForumContext.encodeURL("/forums/show/${forums.get(topic_index).getId()}")}">${forums.get(topic_index).getName()}</a></td>
		<td><@presentation.folderImage topic/></td>
		<td width="50%">
			<span class="topictitle">
			<a href="${JForumContext.encodeURL("/posts/list/${topic.id}")}"><#if (topic.title?length == 0)>No Subject<#else>${topic.title?html}</#if></a>
			</span>

			<#if topic.paginate>
				<span class="gensmall">
				<@pagination.littlePostPagination topic.id, postsPerPage, topic.totalReplies/>				
				</span>
			</#if>		
		</td>

		<td><span class="postdetails">${topic.totalReplies}</span></td>
		<td>
			<span class="name"><a href="${JForumContext.encodeURL("/user/profile/${topic.postedBy.id}")}">${topic.postedBy.username}</a></span>
		</td>

		<td><span class="postdetails">${topic.totalViews}</span></td>
		<td class="lastpost" align="right">
			<#if (topic.lastPostTime?length > 0)>
				<#assign startPage = ""/>
				<#if (topic.totalReplies + 1 > postsPerPage?number)>
					<#assign startPage = ((topic.totalReplies / postsPerPage?number)?int * postsPerPage?number) +"/"/>
				</#if>
				<em><a href="${JForumContext.encodeURL("/posts/list/${startPage}${topic.id}")}#${topic.lastPostId}">${topic.lastPostTime}</a></em>
				<br/><cite>by <a href="${JForumContext.encodeURL("/user/profile/${topic.lastPostBy.id}")}">${topic.lastPostBy.username}</a>
				</cite>	  
				</span>
			</#if>		 
		</td>
	</tr>
	</#list>		
	<!-- END OF TOPICS LISTING -->
</table>  
</div>
${breadCrumb}
<#include "bottom.htm"/>
