<#include "header.htm"/>
<form name="formlostpassword" accept-charset="${encoding}" action="${contextPath}/jforum${extension}" method="post" target="_top">
	<input type="hidden" name="module" value="user" />
	<input type="hidden" name="action" value="lostPasswordSend" />
	
	<div id="nav">
		<a class="nav" href="${contextPath}/forums/list${extension}">${I18n.getMessage("ForumListing.forumIndex")}</a>
	</div>
	<div class="mainbox formbox">
		<h1>${I18n.getMessage("PasswordRecovery.title")}</h1>
		<table class="mainbox" cellspacing="1" cellpadding="4" width="100%" align="center" border="0">
			<tr>
				<td align="right"></td>
				<td align="left"><span class="gen">${I18n.getMessage("PasswordRecovery.usage")}</span></td>
			</tr>
			<#if message?exists>
				<tr>
					<td></td>
					<td align="left"><span class="gen"><font color="#ff0000"><b>${message}</b></font></span></td>
				</tr>
			</#if>
			<tr>
				<td><span class="gen">${I18n.getMessage("User.emailAddress")}:</span></td>
				<td align="left"><input type="text" maxlength="40" size="35" name="email" /> <b>${I18n.getMessage("or")}</b></td>
			</tr>
			<tr>
				<td><span class="gen">${I18n.getMessage("Login.user")}:</span></td>
				<td align="left"><input type="text" maxlength="40" size="35" name="username" /></td>
			</tr>
			<tr>
				<td align="right"></td>
				<td align="left"><input class="submit" type="submit" value="${I18n.getMessage("ok")}" name="login"/></td>
			</tr>
		</table>
	</div>
</form>
<#include "bottom.htm"/>