<#include "header.htm"/>
<a name="top" id="top"></a>
<div id="nav">
<a class="nav"	href="${contextPath}/forums/list${extension}">${I18n.getMessage("ForumListing.forumIndex")}</a>
</div>
<div class="mainbox formbox"><span class="headactions">
	<a class="notabs" href="/forum/help/member.jsp" target="_blank"></a></span> 
	<!-- <h1>${I18n.getMessage("User.RegistrationCompleteTitle")}</h1> -->
	<div class="box message">
			<h1>${I18n.getMessage("User.RegistrationCompleteTitle")}</h1>
			${message}
		</div>
</div>
<#include "bottom.htm"/>