<iframe src="${contextPath}/ping_session.jsp" height="0" width="0" frameborder="0" scrolling="no"></iframe>
<DIV id=footer><DIV class=wrap><DIV id=footlinks><P></P>

<P><A href="mailto:zhurx4g@gmail.com">Contact us</A>&nbsp;-&nbsp;<A href="mailto:2521379016@qq.com" target=_blank>Msforum</A>&nbsp;-&nbsp;
<A href="http://www.miibeian.gov.cn" target=_blank>${I18n.getMessage("sys.ba.info")}:0000001</A>&nbsp;-&nbsp;<span class="scrolltop" title="" onclick="window.scrollTo(0,0);">TOP</span>&nbsp;-&nbsp;
</P></DIV>

<P class=copyright> ${I18n.getMessage("sys.bq.info")}: <STRONG><a class="copyright" href="mailto:2521379016@qq.com" target="_blank">373720686@qq.com</a> &copy; <a class="copyright" href="http://www.baidu.com" target="_blank">Me</a></span></STRONG> <EM>1.0.0</EM> &copy; 2015  <#if session?exists && session.isAdmin()><span class="gen"><a id="adminpanel" target="_blank" href='${JForumContext.encodeURL("/admBase/login")}'>${I18n.getMessage("ForumBase.admin")}</a></span></#if></P></DIV></DIV><script src="${contextPath}/templates/default/js/ts_exchange.js" type="text/javascript"></script>
</body>
</html>