<iframe src="${contextPath}/ping_session.jsp" height="0" width="0" frameborder="0" scrolling="no"></iframe>
<DIV id=footer><DIV class=wrap><DIV id=footlinks><P></P>

<P><A href="mailto:zhurx4g@gmail.com">Contact us</A>&nbsp;-&nbsp;<A href="mailto:zhurx4g@gmail.com" target=_blank>iforums</A>&nbsp;-&nbsp;
<A href="http://www.miibeian.gov.cn" target=_blank>ICP:00000000</A>&nbsp;-&nbsp;<span class="scrolltop" title="" onclick="window.scrollTo(0,0);">TOP</span>&nbsp;-&nbsp;
</P></DIV>

<P class=copyright> Powered by <STRONG><a class="copyright" href="http://code.google.com/p/iforums/" target="_blank">iforums 1.0</a> &copy; <a class="copyright" href="http://code.google.com/p/iforums/" target="_blank">iforums team</a></span></STRONG> <EM>1.0</EM> &copy; 2005-1010 <A
 href="http://code.google.com/p/iforums/" target=_blank>iforums</A>  <#if session?exists && session.isAdmin()><span class="gen"><a id="adminpanel" target="_blank" href='${JForumContext.encodeURL("/admBase/login")}'>${I18n.getMessage("ForumBase.admin")}</a></span></#if></P></DIV></DIV><script src="${contextPath}/templates/default/js/ts_exchange.js" type="text/javascript"></script>
</body>
</html>